@font-face {
	font-family: "IBM Plex Mono Semibold";
	src:url("./assets/fonts/IBMPlexMono-SemiBold.woff") format('woff'),
		url("./assets/fonts/IBMPlexMono-SemiBold.tff") format('truetype');
}
@font-face {
	font-family: "IBM Plex Mono";
	src:url("./assets/fonts/IBMPlexMono-Regular.woff") format('woff'),
		url("./assets/fonts/IBMPlexMono-Regular.tff") format('truetype');
}
@font-face {
	font-family: "IBM Plex Serif";
	src:url("./assets/fonts/IBMPlexSerif-Regular.woff") format('woff'),
		url("./assets/fonts/IBMPlexSerif-Regular.tff") format('truetype');
}
@font-face {
	font-family: "Muli Light";
	src:url("./assets/fonts/Muli-Light.woff") format('woff'),
		url("./assets/fonts/Muli-Light.tff") format('truetype');
}

a{
	color: #4A90E2;
	text-decoration: none;
}

h1, h3{
	font-family: "IBM Plex Mono Semibold";
}
h2{
	font-family: "IBM Plex Serif";
	margin: auto;
	font-size: 36px;
}
h3 {
	font-size: 0.8em;
}
body{
	font-family: "Muli Light";
	background-color: #F8F8F8;
	color: #4A4A4A;
}

.meta{
	font-family: "Muli Light";
	color: #9B9B9B;
	text-decoration: none;
	font-size: 16px;
}

.header{
	top: 0;
	left: 0;
	z-index: 999;
	position: fixed;
	padding-top: 60px;
	padding-bottom: 10px;
	padding-left: 150px;
	padding-right: 150px;
	margin: 0;
	width: calc(100% - 300px);
	background-color: #F8F8F8;
	border-style: dashed;
	font-size: 24px;
}

.header .name{
	float: left;
}
.header .about{
	float: right;
}

.spacer {
	width: 100%;
	height: 162px; 

}


.greeting {
	text-align: center;	
	margin-top: 55px;
	border-style: dotted;
}

.contact {
	text-align: center;
	margin-top: 40px;
	font-size: 16px;
}




.projects{
	display: flex;
	justify-content: center;
	width: calc(100% - 300px);
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 100px;
	border-style: solid;
}

.projects .row{
	min-width: 0;
	min-height: 0;
	display: flex;

}

.projects .row .column{
	flex: 1 1 100%;
	margin: 1%;
}
.projects .row .column img{
	width: 100%;
	height: auto;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}