/* FONT STYLES

Regular:400; Semibold:600
font-family: 'IBM Plex Mono', monospace;

Regular:400
font-family: 'IBM Plex Serif', serif;

Bold: 700; Regular: 400; Light:300; Extra-Light: 200
font-family: 'Muli', sans-serif;

*/
body{
	margin: 0;
	background-color: #F8F8F8;
	color: #000000;
	display:flex ;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a{
	color: #4A90E2;
	text-decoration: none;
}
img{
	width: 100%;
	height: auto;
}
ol{
	padding-left: 1em;
}

.meta{
	font-family: 'Muli';
	font-weight: 400;
	color: #4A4A4A;
	text-decoration: none;
	font-size: 16px;
}
a.meta:hover{
	color: #707070;
}
.caption{
	margin-top: 20px; 
	font-family: 'Muli';
	font-weight: 200;
	font-size: 16px;
	color: #9B9B9B;
}


.header{
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 60px;
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: -10px;
	margin-bottom: -10px;
	width: calc(100% - 300px);
	background-color: #F8F8F8;
	font-size: 24px;
	font-family: 'IBM Plex Mono';
	font-weight: 600;
}

.header .wrapper{
	display: inline-block;
	border-width: thin;
	border-bottom-style: solid;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: -6.8px;
}
.header .wrapper .name{
	float: left;
	padding-bottom: 0px;
}
.header .wrapper .about{
	float: right;
	padding-bottom: 0px;
}

.spacer {
	width: 100%;
	height: 162px; 

}

.brief{
	margin-left: 150px;
	margin-right: 150px;
	display:flex;
}
.brief .info{
	flex-direction: column;
	flex:1;
	margin-left: 0;
}
.brief .info .block{
	flex: 1;
	margin-top: 10px;
	margin-bottom: 45px;
}
.brief .info .block .label{
	font-family: 'IBM Plex Serif';
	font-size: 10px;
	color: #4A4A4A
}
.brief .info .block .text{
	font-family: 'Muli';
	font-weight: 400;
	color: #4A4A4A;
	font-size: 16px;
}
.brief .description{
	flex: 2;
	flex-direction: column;
}
.brief .description .slogan{
	flex: 1;	
	font-family: 'IBM Plex Mono';
	font-weight: 600;
	color: #000000;
}
.brief .description .proposal{
	flex: 1;
	font-family: 'IBM Plex Serif';
	font-size: 24px;
	margin-right: 175px;
}

.section{
	display: flex;
	flex-direction: column;
	width: 54%;
	margin-top: 100px;
	min-height: 0;
	min-width: 0;
}
.section .headline{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.section .headline .category{
	font-family: 'IBM Plex Mono';
	font-weight: 600;
	font-size: 12px;
	color: #000000;
	letter-spacing: 0.8px;
}

.section .headline .tagline{
	font-family: 'IBM Plex Serif';
	font-size: 24px;
	color: #000000;
	width: 80%;
	text-align: center;
}

.section .text_body{
	display: flex;
	flex-direction: column;	
	font-family: 'Muli';
	font-weight: 400;
	font-size: 16px;
	min-width: 0;
	min-height: 0;
	color: #4A4A4A;
}

.image_wrapper{
	margin-left: 150px; 
	margin-right: 150px;
	min-width: 0;
	min-height: 0;
}

.section .text_body .image_side_by_side{
	display: flex;
	min-width: 0;
	min-height: 0;
	width: 100%;
}

.img_wrapper1{
	flex: calc(604/451);
	margin-right: 10px;
}
.img_wrapper2{
	flex: calc(3024/4032);
	margin-left: 10px;
}

.footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
}
.footer .links{
	margin-top: 55px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}
.footer .links a{
	margin-top: 10px;
	font-family: 'IBM Plex Serif';
	font-size: 18px;
	color: #9B9B9B;
}
.footer .links a:hover{
	color: #4A90E2;
}
.credits{
	width: calc(100% - 300px);
	margin-top: 75px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
}
.credits .social{
	display: flex;
}
.credits .byline{
	font-family: 'Muli';
	font-weight: 200;
	font-size: 12px;
	color: #9B9B9B;
}


.not_active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}