/* FONT STYLES

Regular:400; Semibold:600
font-family: 'IBM Plex Mono', monospace;

Regular:400
font-family: 'IBM Plex Serif', serif;

Regular: 400; Light:300; Extra-Light: 200
font-family: 'Muli', sans-serif;

*/


h1, h3{
	font-family: 'IBM Plex Mono';
	font-weight: 600;
}

h2{
	font-weight: normal;
}
h3 {
	font-size: 0.8em;
}
body{

	background-color: #F8F8F8;
	color: #000000;
	margin-left: 80px;
	margin-right: 80px;
}
a{
	color: #4A90E2;
	text-decoration: none;
}

.meta{
	font-family: 'Muli';
	font-weight: 400;
	color: #000000;
	text-decoration: none;
	font-size: 14px;
}
a.meta:hover{
	color: #707070;
}

.header{
	top: 0;
	left: 0;
	z-index: 999;
	position: fixed;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: calc(80px + 0.75%);
	padding-right: calc(80px + 0.75%);
	margin: 0;
	width: calc(98.5% - 160px);
	background-color: #F8F8F8;
	font-size: 20px;
}

.header .name{
	float: left;
}
.header .about{
	float: right;
}
.spacer {
	width: 100%;
	height: 20px; 
}


.greeting {
	text-align: center;	
	padding-top: 55px;
	font-family: 'IBM Plex Serif';
	margin: auto;
	font-size: 36px;
}

.contact {
	text-align: center;
	margin-top: 40px;
	font-size: 16px;
}


.projects{
	flex-direction: column;
	flex: 1 1 100%;
	justify-content: center;
	width: 100%;
	margin-top: 60px;
}
.projects .row{
	min-width: 0;
	min-height: 0;
	display: flex;
	justify-content: center;
}
.projects .row .column{
	flex: 1 1 100%;
	max-width: 50%;
	margin:1%;
}

.container{
	flex: 1 1 100%;
	min-width: 0;
	min-height: 0;
	max-height: 450px;
	overflow: hidden;
	padding-bottom: -20px;
}
.zoom{
	margin: 0;
	padding: 0;
	max-width: 600px;
	max-height: 400px;
	flex:calc(600/400);
	overflow:hidden;
}

.zoom img{
	display:block;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
    -ms-transition:transform  0.35s ease; /* IE 9 */
    -webkit-transition: transform 0.35s ease; /* Safari 3-8 */
    transition: transform 0.35s ease; 
}

.container:hover .zoom img{
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}


.projects .row .column .container .project_title{
	flex: 1 1 100%;
	margin: 1%;
	margin-left: 0px;
	font-family: 'IBM Plex Serif';
	font-size: 20px;
	color: #000000;

    position: relative;
    text-decoration: none;
 	padding-bottom: 8px;
}
.projects .row .column .container .project_title:before{
	content: '';
		position: absolute;
		bottom: 2px;
		left: 0; right: 0;
		height: 2px;
		background-color: #73A9E8;
		opacity: 0;
		transform: translateY(-8px);
		transition: transform 0s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s;
}
.projects .row .column .container .project_title:after{
	content: '';
		position: absolute;
		bottom: 2px;
		left: 0; right: 0;
		height: 2px;
		background-color: #73A9E8;
		opacity: 0;
		transform: translateY(8px/2);
		transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
}
.projects .row .column .container:hover .project_title:before{
	opacity: 1;
	transform: translateY(0);
	transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
}
.projects .row .column .container:hover .project_title:after{
	opacity: 1;
	transform: translateY(0);
	transition: transform 0s .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s .2s;
}
.projects .row .column .container:focus .project_title:before{
	opacity: 1;
	transform: translateY(0);
	transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
}
.projects .row .column .container:focus .project_title:after{
	opacity: 1;
	transform: translateY(0);
	transition: transform 0s .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s .2s;
}

.projects .row .column .container .project_description{
	flex: 1 1 100%;
	margin: 1%;
	margin-left: 0px;
	font-family: "Muli";
	font-weight: 400;
	font-size: 14px;
	color: #4A4A4A;
}
.projects .row .column .container img{
	width: 100%;
	height: auto;
}






.author{
	display: flex;
	flex-direction: column;
	margin-top: 90px;
	padding-top: 90px;
	padding-bottom: 160px;
	margin-left: -80px;
	margin-right: -80px;
	padding-left: 80px;
	padding-right: 80px;
	background-color: white;
}
.author .title_bar{
	display: flex;
	width: 100%;
	margin-bottom: 75px;
	justify-content: space-between;
}

.author .title_bar .voyage_title{
	font-family: 'IBM Plex Serif';
	font-size: 36px;
	color: #4A4A4A;
	flex: 1;
	text-align: center;
}

.author .content{
	display: flex;
	align-items: flex-start;
}
.author .content .portrait{
	min-width: 0;
	min-height: 0;
	flex: 1;
	margin-right: 25px;
	overflow: hidden;
	flex-grow: 1;
}
.author .content .portrait img{
	width: 100%;
	height: auto;
}
.author .content .voyage{
	width: 100%;
	flex: 1;
	flex-direction: column;
	flex-grow: 2;
}

.author .content .voyage .greeting{
	display:flex;
	padding-top: 0px;
	padding-left: 40px;
	padding-bottom: 20px;
	font-family: 'IBM Plex Serif';
	font-weight: 600;
	font-size: 36px;
	color: #000000;
	flex: 1;
}
.author .content .voyage .info{
	display:flex;
	flex-direction: row;
}

.author .content .voyage .info .blurb{
	flex:1;
	padding-top: 0;
	padding-bottom: 15px;
	padding-left: 40px;
	font-family: 'Muli';
	font-weight: 400;
	font-size: 16px;
	color: #000000;
}
.author .content .voyage .info .credentials{
	flex:1;
	flex-direction: column;
	padding-top: 0;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 15px;
	font-family: 'Muli';
	font-weight: 400;
	font-size: 16px;
	color: #000000;
}

.credits{
	padding-top: 20px;
	padding-bottom: 23px;
	margin-left: -80px;
	margin-right: -80px;
	padding-left: 80px;
	padding-right: 80px;

	display: flex;
	justify-content: space-between;
	border-top-style: solid;
	border-color: #9B9B9B;
	border-width: thin;
	background-color: white;
}
.credits .social{
	display: flex;
}
.credits .social .footer_links{
	margin-right: 9px;
	margin-left: 9px;
}
.credits .byline{
	font-family: 'Muli';
	font-weight: 200;
	font-size: 12px;
	color: #9B9B9B;
}
.credits .social a{
	font-family: 'Muli';
	font-weight: 400;
	font-size: 12px;
	color: #4A4A4A;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

